.html, html{
  margin: 0 !important;
  padding: 0 !important;
}
body {  
  background: url(./background_body.jpg);
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: hidden !important;
  overflow-x: scroll;
  font-family: 'Source Code Pro', monospace;
}
body * {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1, 
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Urial" !important;
}